@tailwind base;
@tailwind components;
@tailwind utilities;


/* Button design */
.rounded-tl-0 {
  border-top-left-radius: 0 !important;
}

.rounded-tr-18 {
  border-top-right-radius: 18px !important;
}

.rounded-br-0 {
  border-bottom-right-radius: 0 !important;
}

.rounded-bl-0 {
  border-bottom-left-radius: 0 !important;
}
/* Button design */
